.footer {
  height: 128px;
}

.bottom_menu {
  li {
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.033px;

  }
}
