.my-diary {
  .title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.11px;
  }

  .my-diary-card {
    border: 2px solid #707070;
    padding: 16px;
    width: 100%;
    aspect-ratio: 1 / 1;

    .diary-date, .diary-time {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.09px;
    }

    .diary-content {
      font-weight: 300;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.06px;
    }
  }
}
