.navbar {
  margin: 0 auto;
  max-height: 100%;

  .main-logo {
    width: 144px;
    height: 100%;
    padding: 8px 0;

    img {
      width: 100px;
    }
  }

  .menu-list {
    padding: 8px;
    list-style: none;
    margin-bottom: 0 !important;
  }

  .menu-item {
    width: 160px;
    height: 100%;


    .badge.count {
      position: relative;
      span {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        right: 10px;
        background: $primary-500;
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.06px;
        padding: 2px 4px;
      }
    }

    img {
      margin-right: 8px;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a:hover, a:active, a:focus {
      color: $primary-400;
    }

  }

  .nav-icon {
    height: 100%;
    cursor: pointer;
    position: relative;
  }
}

.drawr-menu {
  width: 280px;
  z-index: 9999999999;
  position: absolute;
  right: 5%;
  top: 32px;
  color: white;
  background: $dark-500;

  ul {
    padding: 0 !important;
    margin: 0;
  }

  &__item {
    list-style: none;
    padding: 23px 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    a {
      color: white;
      text-decoration: none;
    }
  }
}
