.product-card {
  position: relative;
  max-width: 100%;

  &__image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    padding: 7px;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: 0;
    height: 32px;
    background: $primary-300;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.15px;
    a {
        color: white;
        text-decoration: none;
    }
  }
}
