.top-content {
  height: 316px;
}
.achievement-rate {
    height: 100%;
  background-image: url("../../../assets/images/d01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
